{%- comment -%}
  Renders product price.
  Accepts:
  - product: {Object} product
  - variant: {Object} variant (optional)
{%- endcomment -%}

{%- liquid
  assign target = variant | default: product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price
  assign on_sale = false
  if compare_at_price > price
    assign on_sale = true
  endif
-%}

<div class="price{% if on_sale %} price--on-sale{% endif %}">
  <span class="price__regular">{{ price | money }}</span>
  {%- if on_sale -%}
    <span class="price__compare">
      <s>{{ compare_at_price | money }}</s>
    </span>
  {%- endif -%}
</div>
