<div class="quantity-selector" data-quantity-selector>
  <button type="button" class="quantity-selector__btn" data-quantity-minus aria-label="Decrease quantity">
    {% render 'icon-minus' %}
  </button>
  <input
    type="number"
    class="quantity-selector__input"
    name="{{ input_name | default: 'quantity' }}"
    value="{{ value | default: 1 }}"
    min="1"
    max="{{ max | default: '' }}"
    aria-label="{{ 'products.product.quantity' | t }}"
    data-quantity-input
  >
  <button type="button" class="quantity-selector__btn" data-quantity-plus aria-label="Increase quantity">
    {% render 'icon-plus' %}
  </button>
</div>
