<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  {% render 'meta-tags' %}
  {{ content_for_header }}
  {% render 'css-variables' %}
  {{ 'base.css' | asset_url | stylesheet_tag }}
</head>
<body class="template-password">
  <main id="main" role="main">
    {{ content_for_layout }}
  </main>
</body>
</html>
