<section class="main-404 section-padding">
  <div class="page-width text-center">
    <h1 class="heading h1">404</h1>
    <p class="main-404__text">Page not found</p>
    <a href="/" class="btn btn--primary">Continue shopping</a>
  </div>
</section>
{% schema %} { "name": "404 page" } {% endschema %}
